################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeetingRoomReservation.Api/obj
/MeetingRoomReservation.Api/bin/Debug/net8.0
